
<% if(linked == true) { %>
    <div class="other-data">
        <div class="row">
            <div class="data-rate-container">
                <div class="sub-heading section-header">Data Rates<div><i class="fas fa-caret-down"></i></div></div>
                <div class="section-body">
                    <canvas class="data-rate"></canvas>
                    <script>
                        var drChart = new DataRateChart('.data-rate')
                        drChart.generate()
                    </script>
                </div>
            </div>
            <div>
                <div class="sub-heading section-header">Live Traffic<div><i class="fas fa-caret-down"></i></div></div>
                <div class="section-body">
                    <table id="live-data-table" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Src Ip</th>
                                <th>Src Port</th>
                                <th>Dest Ip</th>
                                <th>Dest Port</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <script>
                        tickerCount = 0;
                        tickerTable = $('#live-data-table tbody')
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="protocols">
        <div class="protocol-header">Traffic Types</div>
        <canvas class="p-detail-protocol"></canvas>
        <script>
            var d_dpChart = new ProtocolChart('.p-detail-protocol')
            d_dpChart.generate()
        </script>
        <div class="protocol-header">Common Ips</div>
        <table id="common-ip-table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Times Seen</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>    
<% } else { %>
    <div class="link-device-container"> 
        <div class="sub-heading section-header">Link to device<div><i class="fas fa-caret-down"></i></div></div>
            <div class="section-body">
                <style>
                    .link-device{
                        padding: 2rem;
                        display: flex;
                        justify-content: center;
                    }
                    .link-device input{
                        border-bottom: 1px solid var(--accent);
                        margin-right: 2rem;
                        margin-left: 2rem;
                    }
                </style>
                <div class="link-device">
                    <p style="margin: 0;">Provide this code to the client: </p>
                    <input value="<%= link_code %>"/>
                </div>
            </div>
    </div>
<% } %>