<li>
    <div id="device-<%=device_id%>" class="device">
        <div class="device-name">
            <%= device_name  %>
        </div>
        <div class="device-status device-loading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
</li>