<li>
    <div id="device-<%=device_id%>" class="device">
        <div class="device-name">
            <%= device_name  %>
        </div>
        <div class="device-status device-loading">
            Loading...
        </div>
    </div>
</li>